    @font-face {
        font-family: "Josefin Sans";
        src: url("fonts/JosefinSans-Light.ttf") format('tff');
        src: url("fonts/JosefinSans-Thin.ttf") format('tff');
        src: url("fonts/JosefinSans-Thin.ttf") format('tff');
    }
    /*************************général*************************/
    
    body {
        margin: 0;
    }
    
    main {
        text-align: center;
        margin: auto;
    }
    
    h1 {
        font-family: 'Abril Fatface', cursive;
        font-weight: normal;
        font-size: 2.5em;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    
    h2 {
        margin-top: 0px;
        padding-top: 10px;
        padding-bottom: 20px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1em;
        font-weight: normal;
    }
    
    h3 {
        font-size: 1.5em;
        font-weight: normal;
        font-family: 'Josefin Sans', sans-serif;
    }
    
    h4 {
        margin-top: 20px;
        font-size: 2.4em;
        font-family: 'Abril Fatface', cursive;
        font-weight: normal;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    
    .about {
        height: 100vh;
        width: 100%;
        background: #f9da25;
        display: flex;
        justify-content: center;
    }
    
    .description {
        font-family: 'Josefin Sans', sans-serif;
        width: 50%;
    }
    /************header*************************/
    
    header {
        width: 100%;
        height: 110px;
        z-index: 600;
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        -ms-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s;
    }
    /*****************************logo*********************/
    
    .nomlogo1 {
        height: 180px;
        width: 180px;
        background: url(logo3.png) no-repeat center;
        background-size: 50%;
    }
    
    #logo>.nomlogo>img {
        width: 50px;
        margin-top: 0px;
    }
    
    .traitshrink {
        width: 30%;
    }
    
    .headerscroll {
        width: 100%;
        height: 100px;
        z-index: 5;
        background: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
    }
    
    #logo {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        text-align: center;
        height: 120px;
    }
    
    #logo img {
        padding-right: 20px;
        border-right: 1px solid grey;
    }
    /******************************navigation**************************/
    
    .menu {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }
    
    nav {
        width: 60%;
        text-align: right;
        padding: 0;
        margin: 0;
        font-family: 'Josefin Sans', sans-serif;
    }
    
    .menushrink {
        margin-top: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        text-align: left;
        margin-left: 0px;
        width: 60%;
    }
    
    nav a {
        font-size: 1.1em;
        transition: .5s ease;
        color: grey;
    }
    
    nav ul li {
        list-style-type: none;
        margin-right: 20px;
        margin-top: 9px;
    }
    
    nav li a:hover {
        color: black;
    }
    
    nav li a::after {
        content: '';
        margin-top: 10px;
        margin-bottom: -10px;
        display: block;
        width: 0;
        height: 4px;
        background: transparent;
        width: 0%;
        transition: width 0.3s easeInOutBack;
        background-color: #fcf428;
        transition: width 0.8s ease;
    }
    
    nav li a:hover::after {
        width: 100%;
        transition: width 0.3s easeInOutBack;
        background-color: black;
        transition: width 0.3s ease;
    }
    /*********************menu hamburger***************************/
    
    .menu2 {
        display: none;
        z-index: 1000000;
        background: white;
        position: fixed;
        top: 80px;
        text-align: center;
        font-size: 12px;
        margin-right: -100px;
        width: 100%;
        font-family: 'Josefin Sans', sans-serif;
    }
    
    .menu2 ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style-image: none;
        font-size: 1.3em;
    }
    
    .menu2 li {
        display: block;
        padding: 15px 0 15px 0;
        border-bottom: #dddddd 1px solid;
        height: 50px;
        line-height: 50px;
    }
    
    .menu2 li:hover {
        display: block;
        background: white;
        padding: 15px 0 15px 0;
        border-bottom: #dddddd 1px solid;
    }
    
    .menu2 ul li a {
        text-decoration: none;
        margin: 0px;
        color: #666;
    }
    
    .menu2 ul li a:hover {
        color: #666;
        text-decoration: none;
    }
    
    .menu2 a {
        text-decoration: none;
        color: #666;
    }
    
    .menu2 a:hover {
        text-decoration: none;
        color: #666;
    }
    
    .glyphicon-home {
        color: white;
        font-size: 1.5em;
        margin-top: 5px;
        margin: 0 auto;
    }
    
    .hamburger {
        display: none;
        background: none;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 45px;
        padding: 5px 15px 0px 15px;
        color: #999;
        border: 0;
        font-size: 1.4em;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        z-index: 10000000000000;
    }
    
    .cross {
        display: none;
        background: none;
        position: absolute;
        top: 0px;
        right: 0;
        padding: 7px 15px 0px 15px;
        color: #999;
        border: 0;
        font-size: 3em;
        line-height: 65px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        z-index: 10000000000000;
    }
    /****************************bandeau**********************/
    
    .trait {
        border-top: 1px solid grey;
        width: 40%;
    }
    
    .trait2 {
        border-top: 1px solid black;
        width: 10%;
    }
    
    .navlogo {
        margin-left: 20px;
        color: grey;
        text-align: left;
    }
    
    .hidden {
        margin-top: 200px;
        font-family: 'Abril Fatface', cursive;
        color: white;
        text-align: right;
        margin-right: 10px;
        display: none;
        line-height: 70px;
        width: 75%;
    }
    
    .hidden_ligne_un {
        font-size: 5em;
        text-align: right;
        margin-bottom: -10px;
    }
    
    .hidden_ligne_deux {
        font-size: 2em;
        text-align: right;
        line-height: 30px;
        color: black;
    }
    /************************projets*****************/
    
    #boxp {
        display: flex;
        justify-content: center;
        height: 300px;
        text-align: center;
        margin-bottom: 5px;
        padding-top: 30px;
        width: 100%;
    }
    
    .boxphidden {
        display: none;
        margin-top: 20px;
        border-bottom: 1px dashed black;
        border-top: 1px dashed black;
        width: 100%;
        height: 150px;
    }
    
    .boxphidden>h3 {
        margin-top: 0px;
    }
    
    .boxphidden>h4 {
        font-size: 1.8em;
    }
    
    .img {
        position: absolute;
        z-index: 1;
        margin-top: 1px;
        background-size: cover;
        width: 60%;
    }
    
    .calque {
        height: 300px;
        z-index: 2;
        border: 1px dashed black;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /******************************compétences*********************/
    
    #skills {
        background: #CBBAED;
        margin-top: 40px;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .container_comp {
        padding-left: 200px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 75%;
    }
    
    .box_comp {
        height: 250px;
    }
    
    .competences {
        height: 200px;
        width: 200px;
        background: white;
        margin: 10px;
        border-radius: 100px;
        margin-bottom: 50px;
    }
    
    .competences>img {
        margin-top: 65px;
        z-index: 900;
    }
    
    .fa {
        margin-top: 65px;
        z-index: 900;
    }
    
    .descr_comp {
        margin-top: 80px;
        font-family: 'Josefin Sans', sans-serif;
    }
    /**********************qui suis-je****************************/
    
    #parcours {
        display: flex;
        width: 100%;
        height: 500px;
    }
    
    #parcours1 {
        border-right: 1px dashed black;
        width: 30%;
    }
    
    #parcours2 {
        width: 70%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    #photo_parcours {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        border: 1px solid black;
        background: white;
        position: absolute;
        left: 285px;
        top: 3000px;
    }
    
    #text_parcours {
        width: 70%;
        margin-left: 180px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1em;
    }
    /*****************************contact*************************/
    
    #contact {
        height: 90vh;
        background: #c6edb1;
        background-position-y: -750px;
        background-position-x: -500px;
        background-size: 200%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%
    }
    
    .box {
        width: 50%;
        height: 400px;
        float: left;
        background-color: white;
        border-radius: 1px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.2em;
    }
    
    .box h3 {
        font-weight: normal;
        text-align: center;
        padding-top: 60px;
        font-family: 'Abril Fatface', cursive;
        font-size: 2em;
    }
    
    .box2 {
        background-color: white;
    }
    
    .shadow2 {
        position: relative;
    }
    
    .shadow2 {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    }
    /*styling shadows*/
    
    .card {
        font-family: 'Josefin Sans', sans-serif;
        background: #fff;
        text-align: center;
        border-radius: 2px;
        display: inline-block;
        height: 300px;
        margin: 1rem;
        position: relative;
        top: 200px;
        left: -100px;
        width: 450px;
        margin-right: -550px;
        -ms-transform: rotate(-7deg);
        /* IE 9 */
        -webkit-transform: rotate(-7deg);
        /* Chrome, Safari, Opera */
        transform: rotate(-7deg);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card h1 {
        margin-top: 30px;
        animation: apparition;
        animation-duration: 4s;
    }
    
    .contact_p {
        animation: apparition;
        animation-duration: 4s;
    }
    
    .card>h1:hover {
        transition: 1s;
        color: #CBBAED;
    }
    
    .card>h1:not(:hover) {
        transition: 1s;
        color: black;
    }
    
    .desc_p {
        margin-top: 50px;
        color: gray;
        animation: apparition;
        animation-duration: 2s;
    }
    
    .trait {
        margin-top: 10px;
        border-top: 0.5px solid gray;
        animation: apparition;
        animation-duration: 4s;
    }
    
    .var1 {
        -ms-transform: rotate(8deg);
        /* IE 9 */
        -webkit-transform: rotate(8deg);
        /* Chrome, Safari, Opera */
        transform: rotate(8deg);
    }
    
    .card-3 {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    
    .var1:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    
    .fa-envelope {
        animation-name: enveloppe;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation: apparition;
        animation-duration: 8s;
    }
    
    .contactfa:hover {
        color: green;
    }
    /***********************footer*********************/
    
    footer {
        height: 10vh;
        background: black;
    }
    
    footer p {
        margin: 0;
        text-align: center;
        color: grey;
        line-height: 10vh;
        font-family: 'Josefin Sans', sans-serif;
    }
    /******** media queries****************/
    
    @media screen and (max-width: 1100px) {
        #logo>.nomlogo>img {
            width: 40px;
            margin-left: 50px;
        }
        .navlogo {
            height: 30px;
        }
        header {
            height: 90px;
        }
        .nomlogo1 {
            width: 130px;
        }
        .container_comp {
            width: 70%;
            justify-content: center;
        }
    }
    
    @media screen and (max-width: 1000px) {
        header {
            height: 80px;
        }
        #logo>.nomlogo>img {
            width: 35px;
        }
        .card {
            top: 150px;
            left: -250px;
        }
        header {
            height: 80px;
        }
        .navlogo {
            height: 25px;
        }
        .about {
            height: 600px;
        }
        #text_parcours {
            width: 60%;
        }
        .box {
            width: 70%;
        }
        #boxp {
            margin-left: 0;
        }
    }
    
    @media screen and (max-width: 900px) {
        #logo>.nomlogo>img {
            width: 35px;
        }
        .card {
            left: -200px;
        }
        header {
            height: 80px;
        }
        .navlogo {
            height: 25px;
        }
        .box {
            width: 80%;
        }
        #parcours {
            height: auto;
        }
        #parcours1 {
            width: 0%;
            border: none;
        }
        #parcours2 {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        #text_parcours {
            width: 90%;
        }
    }
    
    @media screen and (max-width: 870px) {
        #logo {
            margin-left: 30px;
        }
        #photo_parcours {
            display: none;
        }
        .menu {
            display: none;
        }
        .container_comp {
            width: 100%;
            padding-left: 0;
            display: flex;
            justify-content: center;
        }
        #text_parcours {
            z-index: 500;
            margin-left: 0px;
        }
        #boxp {
            display: none;
        }
        h4 {
            margin-top: 0px;
            margin-bottom: 0;
        }
        .box {
            width: 90%;
            background-color: rgba(117, 190, 218, 0.0);
        }
        .menu2 {
            display: block;
        }
        .hamburger {
            display: block;
        }
        .cross {
            display: block;
        }
        .boxphidden {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .img {
            display: none;
        }
    }
    
    @media screen and (max-width: 815px) {
        .card {
            display: none;
        }
        .var1 {
            display: none;
        }
        .hidden {
            display: block;
        }
        .hidden_ligne_un {
            font-size: 4em;
            margin-bottom: -20px;
        }
        .hidden {
            line-height: 60px;
            margin-bottom: -10px;
        }
        .hidden_ligne_deux {
            line-height: 30px;
        }
        .shadow2 {
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0), 0 0 10px rgba(0, 0, 0, 0) inset;
        }
    }
    
    @media screen and (max-width: 415px) {
        #logo {
            margin-left: 40px;
        }
    }
    /*******************animations***********************/
    
    @keyframes annotation-dot {
        from {
            box-shadow: 0 0 3px #fff;
        }
        to {
            box-shadow: 0 0 20px #fff;
        }
    }
    
    @-webkit-keyframes annotation-dot {
        from {
            box-shadow: 0 0 3px #fff;
        }
        to {
            box-shadow: 0 0 20px #fff;
        }
    }
    
    @keyframes enveloppe {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0.5;
        }
    }
    
    @keyframes logo {
        0% {
            margin-left: 0px;
        }
        50% {
            margin-left: 10px;
        }
        100% {
            margin-left: 0px;
        }
    }
    
    @keyframes apparition {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @viewport {
        width: device-width;
        /* largeur du viewport */
        zoom: 1;
        /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
    }